
.header-peru, .header-peru2{
  display: inline-block;
  position: relative;
}
.header-peru:after{

  background: url("http://peru.nu/images/topography.png");
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  //background: url(http://placehold.it/20x20/1) repeat;
  opacity: .4;
}
.header-peru2:after{
  background-color: rgba(108, 0, 121, 0.8);

  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  //background: url(http://placehold.it/20x20/1) repeat;
}
.bg-rgba-white {
  background: hsla(0,0%,100%,.8);
}
.nav-peru-top{
  z-index: 2;
}
//.nav-peru-m{
//  left: auto !important;
//}
.bottom-n-1{
  bottom: -1px;
}
.bottom-0{
  bottom: 0;
}
.top-0{
  top: 0;
}
.mt-10-p{
  margin-top: 10%;
}
.logo-goto{
  z-index: 2;
}
.alpha { background: $purple; }

.clickable {
  cursor: pointer;
}

.box-route-ininerary {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  padding: 15px 0 15px 60px;
}
.gradient-destinations{
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
  bottom: -1px;
  height: 8em;
  position: absolute;
  width: 100%;
}
.b-routes{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Video Overlay */
.header-video{
  width: 100%;
  height: 85vh;
}
#overlay {
  background-color:rgba(0,0,0,.5);
  height:85vh;
  left:0;
  position:relative;
  top:0;
  transition:background-color 300ms ease;
  width:100%;
}
.overlay-img{
  background-color:rgba(0,0,0,.2) !important;
}
#hero-vid {
  backface-visibility:hidden;
  background:#fff;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

#hero-pic {
  display:block;
  height:auto;
  width:100%;
}

#state {
  bottom:0;
  cursor:pointer;
  font-size:2.25rem;
  left:0;
  line-height:1;
  padding:2rem 2.5rem 1.65rem;
  position:absolute;
}
#title {
  backface-visibility:hidden;
  left:0;
  perspective:1000;
  position:fixed;
  width:100%;
  z-index: 1;
}
.header-menu-g{
  z-index: 1;
}

.content-header{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.content-header-row{
  width: 100%;
  height: 100vh;
}
.nav-itinerary .nav-link.active{
  opacity: 1;
  border-bottom: 3px solid #000000;
}

.banner-header{
  background: rgba(0,0,0,.5);
}

//.header-video-default, .header-video-default #overlay{
//  height: 100vh;
//}